{% extends "base.html" %}
{% block content %}
<h2>New post</h2>
<form method="POST">
    <label>
        Title<br>
        <input class="form-control" style="width:300px;" type="text" name="subject" value="{{subject}}">
    </label>
    <br><br>
    <label>
        Write Your Post<br>
        <textarea class="form-control" name="content" style="width:300px;height:200px;">{{content}}</textarea>
    </label>
    <br>
    <div class="alert-danger">{{post_error}}</div>
    <input type="submit" class="btn btn-success" value="Post">
</form>
{% endblock %}
